body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-color: #000 !important;
      background-size: cover;
    }

    #login-screen {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
    }

    #login-form input[type="text"],
    #login-form input[type="password"] {
      width: 200px;
      height: 30px;
      margin-bottom: 10px;
    }

    #login-form button {
      height: 30px;
      padding: 0 10px;
      background-color: #808080;
      color: #fff;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }

    #register-screen {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #chat-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    
    #message-list {
      flex-grow: 1;
      overflow-y: auto;
    }
    
    #input-container {
      margin-top: auto;
    }
    
    #top-bar {
      height: 70px;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      color: #fff;
      font-family: Verdana, sans-serif;
    }

    #server-dropdown {
      background-color: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      margin-right: 20px;
      display: flex;
      align-items: center;
    }

    #server-dropdown:hover {
      text-decoration: underline;
    }

    #server-dropdown::after {
      content: '▼';
      margin-left: 5px;
    }

    #server-dropdown.active::after {
      transform: rotate(180deg);
    }

    #channel-list {
      position: absolute;
      top: 70px;
      right: 600px;
      width: 200px;
      background-color: #333;
      border: 1px solid #ccc;
      display: none;
      padding: 10px;
    }

    #channel-list.active {
      display: block;
    }

    .channel {
      color: #fff;
      margin-bottom: 5px;
    }

    #message-list {
      flex-grow: 1;
      overflow: auto;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .message {
      background-color: #333;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      color: #fff;
      font-family: Verdana, sans-serif;
    }

    #input-container {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #000;
    }

    #message-input {
      flex-grow: 1;
      height: 30px;
      padding: 5px;
      color: #fff;
      background-color: #222;
      border: none;
      font-family: Verdana, sans-serif;
    }

    #send-button {
      height: 40px;
      padding: 5px 10px;
      background-color: #808080;
      color: #fff;
      border: none;
      cursor: pointer;
      font-weight: bold;
      margin-left: 10px;
      font-family: Verdana, sans-serif;
    }

    #channel-list {
      position: absolute;
      top: 70px;
      right: 600px;
      width: 200px;
      background-color: #333;
      border: 1px solid #ccc;
      display: none;
      padding: 10px;
    }

    #channel-list.active {
      display: block;
    }

    #settings-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      font-family: Verdana, sans-serif;
  }
  
  #settings-title {
      margin-bottom: 20px;
      font-size: 2rem;
  }
  
  .settings-option, .settings-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
  }
  
  .settings-option {
      margin-bottom: 40px;
  }
  
  .settings-option label, 
  .settings-option select {
      margin-bottom: 10px;
  }
  
  .settings-buttons button {
      margin: 10px 0;
      width: auto;
      padding: 10px 20px;
      font-family: Verdana, sans-serif;
  }
  #theme-select {
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: 1px solid #aaa;
      border-radius: 5px;
      font-family: Verdana, sans-serif;
  }
  
  .footer {
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .footer-a {
    color: #adadad;
  }
    
    .dark-theme {
      background-color: #111;
    }
    #top-bar,
    button,
    #chat-container {
      background-color: #fff;
      color: #000;
    }

    .dark-theme #top-bar,
    .dark-theme button,
    .dark-theme #chat-container {
      background-color: #000;
      color: #000;
  }
    .dark-theme

    .dark-theme #title {
      color: #fff;
      background-color: #000;
    }

      #server-dropdown {
      color: #000;
    }

    .dark-theme #server-dropdown {
      color: #fff;
    }

        #chat-container {
      flex-grow: 1;
      flex-direction: column;
    }

    .light-theme #chat-container {
      background-color: #fff; 
      color: #000;
    }

    .classic {
      color: white;
      font-family: Verdana, sans-serif;
    }

    .tos-screen {
      background-color: #000;
    }

    #hello-screen {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dark-theme {
      background-color: #111;
      color: #fff;
    }
    
    .dark-theme .message {
      background-color: #333;
    }
    .dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme p, .dark-theme li {
      color: #fff;
    }
    .dark-theme #channel-list {
      background-color: #222;
      color: #fff;
    }

    .dark-theme button {
      background-color: #333;
      color: #fff;
    }

    .dark-theme .text-class, .dark-theme #text-id {
      color: #fff;
    }